body {
  background-color: #301E67;
  color: white;
}

.dash-container {
  margin: 5% 20%;
  background-color: #5B8FB9;
 }

 .cell {
  background-color: #03001C;
 }

 a {
  color: #03001C;
  text-decoration: none;
  padding-left: 3%;
 }
 
 a:hover {
  color: white;
 }

li, .avatars, .logo {
  padding-bottom: 5%;
  padding-left: 15%;
}

ul {
  padding-top: 20%;
}

.avatars {
  padding-top: 75%;
}

li:hover {
  color: white;
 }
